$hover-color: rgb(55, 3, 81);

.trackRow {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 25px;
}

.trackRow:hover {
  background-color: $hover-color;
  cursor: pointer;
}

#title {
  width: 20vw;
  text-align: left;
}

#artist {
  width: 34vw;
  text-align: left;
}
